<div class="d-flex w-full justify-content-center gap-2">
    <button type="button" class="btn btn-primary" id="GetUserDetailButton">Get User Detail</button>
    <button type="button" class="btn btn-primary" id="AddUserButton">Add User</button>
</div>

<div>
    <input type="text" id="UserSeachField">
</div>

<div id="UserDetailContainer">

</div>

<div class="modal fade" id="AddEditUserModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="AddEditUserModalContent">



        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    function GetUserList() {
        $.ajax({
            url: '/User/GetUserDetailPV',
            type: 'GET',
            success: function (response) {
                $("#UserDetailContainer").html(response);
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            }
        });
    }

    function UserListPaginationAjax(pageNumber, ele) {

        let pageSize = $("#pageSizeDropdown").val()

        let searchkeyword = $("#UserSeachField").val();

        let sortColumn = "";

        let sortOrder = "";

        if ($(ele).hasClass("sortArrow")) {

            sortColumn = $(ele).closest('th').data('colname');

            sortOrder = $(ele).data('sortorder');
        }

        $.ajax({
            url: "/User/GetPaginatedUserList",
            data: { 'pageSize': pageSize, 'pageNumber': pageNumber, 'searchKeyword': searchkeyword, 'sortColumn': sortColumn, 'sortOrder': sortOrder },
            type: "GET",
            dataType: "html",
            success: function (data) {
                $("#UserDetailContainer").html(data);

            },
            error: function () {
                $("#UserDetailContainer").html('An error has occurred');
            }
        });
    }

    document.getElementById("UserSeachField").addEventListener('keyup', () => {
        UserListPaginationAjax();
    })

    $(document).ready(function () {

        UserListPaginationAjax();

        $(document).on('click', "#GetUserDetailButton", function () {
            GetUserList();
        })

        $(document).on('click', "#EditUserButton, #AddUserButton", function () {
            $("#AddEditUserModal").modal('show');

            let id = parseInt($(this).data('id'));

            $.ajax({
                url: '/User/GetAddEditUserForm',
                type: 'GET',
                data: { Id: id },
                success: function (response) {

                    $("#AddEditUserModalContent").html(response);

                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        })

        $(document).on('submit', '#AddEditUserForm', function (e) {
            e.preventDefault();

            let form = $(this);

            console.log("form validation",form.valid());

            if (!form.valid()) {
                return;
            }

            let formdata = new FormData(form[0]);

            console.log(formdata);

            $.ajax({
                url: '/User/AddEditUser',
                type: 'POST',
                data: formdata,
                contentType: false,
                processData: false,
                success: function (response) {
                    toastr.success(response.message);

                    $("#AddEditUserModal").modal('hide');

                    GetUserList();

                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        })

        $(document).on('click', '#DeleteUserButton', function (e) {

            let id = parseInt($(this).data('id'));

            $.ajax({
                url: '/User/DeleteUser',
                type: 'GET',
                data: { Id: id },
                success: function (response) {
                    toastr.success(response.message);
                    GetUserList();
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        })
    })
</script>